### This is a notbook that just lets me see running code and test out new updates and features. before adding them to production

In [7]:
# Need to add reservation id to the breakdown and then remove duplices before saving down for the dashboard
import get_params as gp
import pandas as pd

In [9]:
res_file=gp.get_params('reservations')
curr = pd.read_csv(res_file['all_res'])
curr["CheckIn"] = pd.to_datetime(curr["CheckIn"]).dt.strftime('%b/%d/%Y')
curr["CheckOut"] = pd.to_datetime(curr["CheckOut"]).dt.strftime('%b/%d/%Y')
curr

      Res_ID              Guest      CheckIn     CheckOut  Nights
0    1103687            Vazquez  Nov/14/2022  Nov/19/2022       5
1    1103671              Habel  Jan/02/2023  Jan/09/2023       7
2    1103446            Roberts  Nov/10/2022  Nov/13/2022       3
3    1103164           Peterson  Jan/11/2023  Jan/21/2023      10
4    1102691              Moore  Dec/03/2022  Dec/10/2022       7
5    1102644           Figueroa  Nov/06/2022  Nov/09/2022       3
6    1102386          Philbrook  Nov/19/2022  Nov/23/2022       4
7    1100775            Russell  Nov/23/2022  Nov/26/2022       3
8    1098795               Reed  Oct/22/2022  Oct/30/2022       8
9    1098288               Hool  Nov/09/2022  Nov/13/2022       4
10   1096930            Sarousi  Oct/14/2022  Oct/19/2022       5
11   1096275             Brenes  Sep/23/2022  Oct/02/2022       9
12   1099938              rippy  Dec/23/2022  Jan/02/2023      10
13   1097362            Cutcher  Oct/06/2022  Oct/12/2022       6
14  29764605        Katie Dwyer  Mar/22/2021  Mar/28/2021       6
15  29725722         April Mial  Mar/28/2021  Apr/04/2021       7
16  30353982      Asil Abuhadba  Apr/04/2021  Apr/10/2021       6
17  30573076      Brett Barnett  Apr/10/2021  Apr/17/2021       7
18  30627570     Ricardo Flores  Apr/17/2021  May/04/2021      17
19  30905584       Martin Olano  May/06/2021  Jun/08/2021      33
20  31677686       Daniel Lopez  Jun/09/2021  Jun/16/2021       7
21  30502479       April Weldon  Jun/17/2021  Jun/23/2021       6
22  30247918     Jorge Elizondo  Jun/26/2021  Jul/26/2021      30
23  31704950    Robert Villalta  Jul/30/2021  Aug/07/2021       8
24  32444837        Mike Brenes  Aug/07/2021  Aug/15/2021       8
25  35512000     Michael Brenes  Oct/14/2021  Oct/17/2021       3
26  35512077  Sarat Mikkilineni  Nov/20/2021  Nov/25/2021       5
27  35587706      Amairany Diaz  Dec/20/2021  Dec/24/2021       4
28  30054645    Brian Leibrandt  Dec/26/2021  Jan/02/2022       7
29  35383346         Jane Costa  Feb/02/2022  Feb/28/2022      26
30  35437583       Beth Hammell  Mar/05/2022  Apr/03/2022      29
31  36131706      Tamara Morris  Apr/05/2022  Apr/08/2022       3
32  35901766          Suhang Gu  Apr/13/2022  Apr/17/2022       4
33  36051771        Erica Shonk  Apr/20/2022  Apr/25/2022       5
34  36292264     Elena Amelenko  Apr/27/2022  May/27/2022      30
35  36362427        Mike Brenes  May/27/2022  Jun/01/2022       5
36  36278294     Peter Quinones  Jun/01/2022  Jun/08/2022       7
37  36204474   Christin Prather  Jun/13/2022  Jun/19/2022       6
38  35761071   Joan Dahl Hansen  Jun/24/2022  Jul/05/2022      11
39  36066025   Laetitia Filippi  Jul/07/2022  Jul/16/2022       9
40  36665873        Mike Brenes  Jul/16/2022  Jul/19/2022       3
41  36667491        Diego Mallo  Jul/21/2022  Jul/27/2022       6
42  36255655        Ashley Tarr  Jul/30/2022  Aug/13/2022      14

In [12]:
rpts

{'booking': 'bookings/',
 'breakdown': 'reports/breakdown.csv',
 'old': 'reports/oldFinal.csv',
 'test': 'reports/test.csv',
 'test2': 'reports/test2.csv'}

In [13]:
rpts=gp.get_params('reports')
old=pd.read_csv(rpts['old'])
old

,Res_ID,Status,Unit,Guest,Booked Date,Check-In,Checkout,Nights,Income
0,29764605,Checked Out,Legendary Times at Story Lake,Katie Dwyer,Mar/01/2021,Mar/22/2021,Mar/28/2021,6,$1147.5
1,29725722,Checked Out,Legendary Times at Story Lake,April Mial,Mar/01/2021,Mar/28/2021,Apr/04/2021,7,$1352.83
2,30353982,Checked Out,Legendary Times at Story Lake,Asil Abuhadba,Mar/01/2021,Apr/04/2021,Apr/10/2021,6,$1225.31
3,30573076,Checked Out,Legendary Times at Story Lake,Brett Barnett,Mar/01/2021,Apr/10/2021,Apr/17/2021,7,$1394.65
4,30627570,Checked Out,Legendary Times at Story Lake,Ricardo Flores,Mar/01/2021,Apr/17/2021,May/04/2021,17,$3195.46
5,30905584,Checked Out,Legendary Times at Story Lake,Martin Olano,Mar/01/2021,May/06/2021,Jun/08/2021,33,$4308.81
6,31677686,Checked Out,Legendary Times at Story Lake,Daniel Lopez,Mar/01/2021,Jun/09/2021,Jun/16/2021,7,$1160.0
7,30502479,Checked Out,Legendary Times at Story Lake,April Weldon,Mar/01/2021,Jun/17/2021,Jun/23/2021,6,$1099.35
8,30247918,Checked Out,Legendary Times at Story Lake,Jorge Elizondo,Mar/01/2021,Jun/26/2021,Jul/26/2021,30,$3652.86
9,31704950,Checked Out,Legendary Times at Story Lake,Robert Villalta,Mar/01/2021,Jul/30/2021,Aug/07/2021,8,$1376.99
10,35512077,Checked Out,Legendary Times at Story Lake,Sarat Mikkilineni,Mar/01/2021,Nov/20/2021,Nov/25/2021,5,$840.2
11,35587706,Checked Out,Legendary Times at Story Lake,Amairany Diaz,Mar/01/2021,Dec/20/2021,Dec/24/2021,4,$654.92
12,30054645,Checked Out,Legendary Times at Story Lake,Brian Leibrandt,Mar/01/2021,Dec/26/2021,Jan/02/2022,7,$1228.74
13,35383346,Checked Out,Legendary Times at Story Lake,Jane Costa,Mar/01/2021,Feb/02/2022,Feb/28/2022,26,$4845.83
14,35437583,Checked Out,Legendary Times at Story Lake,Beth Hammell,Mar/01/2021,Mar/05/2022,Apr/03/2022,29,$3929.19
15,36131706,Checked Out,Legendary Times at Story Lake,Tamara Morris,Mar/01/2021,Apr/05/2022,Apr/08/2022,3,$744.2
16,35901766,Checked Out,Legendary Times at Story Lake,Suhang Gu,Mar/01/2021,Apr/13/2022,Apr/17/2022,4,$621.05
17,36051771,Checked Out,Legendary Times at Story Lake,Erica Shonk,Mar/01/2021,Apr/20/2022,Apr/25/2022,5,$897.5
18,36292264,Checked Out,Legendary Times at Story Lake,Elena Amelenko,Mar/01/2021,Apr/27/2022,May/27/2022,30,$3923.9
19,36278294,Checked Out,Legendary Times at Story Lake,Peter Quinones,Mar/01/2021,Jun/01/2022,Jun/08/2022,7,$1209.6
20,36204474,Checked Out,Legendary Times at Story Lake,Christin Prather,Mar/01/2021,Jun/13/2022,Jun/19/2022,6,$1086.65
21,35761071,Checked Out,Legendary Times at Story Lake,Joan Dahl Hansen,Mar/01/2021,Jun/24/2022,Jul/05/2022,11,$1847.81
22,36066025,Checked Out,Legendary Times at Story Lake,Laetitia Filippi,Mar/01/2021,Jul/07/2022,Jul/16/2022,9,$1568.98
23,36667491,Checked Out,Legendary Times at Story Lake,Diego Mallo,Mar/01/2021,Jul/21/2022,Jul/27/2022,6,$1268.81